$estilos: (
    colorFondo: #252627fa,
    colorContacto:#0000005b,
    colorGaleria: #16161593,
);

$borders: (
    borderBlue: ridge 2px #3472e6,
);

$fonts: (
    primaryFont: 'Quicksand',
);